@media (max-width: 1200px){
    .div-container{
        max-width: 960px;
    }

   }
   @media (max-width: 992px){
       .div-container{
           max-width: 740px;

       }
       .logo-header {
           margin: 5%;
        }

       .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
    }

       .dws-menu > ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
       }

       .dws-menu > ul li a{
        display: inline-block;
        padding: 5px 15px 5px 5px;
       }

       .dws-menu > ul li:nth-child(2) a{
        padding: 5px 50px 5px 5px;
       }

       .dws-menu li > ul li ul{
        position: absolute;
        left: 150px;
        width: 200px;
        top: 0;
       }

       .dws-menu li > ul li a{
        padding: 5px;
       }

       .dws-menu li:hover > ul{
        display: inline-block;
       }

       .dws-menu li a:hover{
        background-color: rgba(228, 218, 224, 0.7)
       }

       .header-h1{
        font-size: 28px;
        line-height: 30px;
       }

       .header-text{
           max-width: 400px;
           margin-left: 5%;
       }
       
   }

    @media (max-width: 768px){
        .div-container{
           max-width: 540px;
       }

       .header-h1{
        font-size: 24px;
        line-height: 26px;
       }

       .header-text{
        max-width: 350px;
        margin-left: 5%;
    }
     
   } 

     @media (max-width: 578px){
        .div-container{
           max-width: 90%;
       }

       .header-h1{
        font-size: 22px;
        line-height: 24px;
       }

       .header-text{
        max-width: 300px;
        margin-left: 5%;
    }
       
   } 